<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name="com.sendsay.example.services.SendsayRsmMessageService"
            android:exported="true"
            android:foregroundServiceType="remoteMessaging"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_channel_id"
            android:value="@string/pushes_notification_channel_id" />
        <meta-data
            android:name="ru.rustore.sdk.pushclient.project_id"
            android:value="5wMx3yKO3O8BjElsOO2-RKZtytVfWiBr" />
        <meta-data
            android:name="ru.rustore.sdk.pushclient.params_class"
            android:value="com.sendsay.example.services.RuStorePushClientParams" />
    </application>
</manifest>